<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>

        <intent>
            <action android:name="android.settings.SETTINGS" />
        </intent>

        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.google.android.apps.nbu.files" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.google.android.calendar" />
        <package android:name="com.google.android.keep" />
        <package android:name="com.google.android.contacts" />
        <package android:name="com.google.android.apps.walletnfcrel" />
        <package android:name="com.samsung.android.email.provider" />
        <package android:name="com.android.email" />
        <package android:name="com.google.android.email" />
        <package android:name="com.microsoft.office.outlook" />
        <package android:name="ch.protonmail.android" />
        <package android:name="com.yahoo.mobile.client.android.mail" />
        <package android:name="me.bluemail.mail" />
        <package android:name="com.fsck.k9" />
        <package android:name="com.readdle.spark" />
        <package android:name="com.zoho.mail" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.samsung.android.messaging" />
        <package android:name="com.android.mms" />
        <package android:name="com.android.messaging" />
        <package android:name="com.android.vending" />
        <package android:name="com.android.settings" />
        <package android:name="com.samsung.android.app.settings" />
        <package android:name="com.samsung.android.settings" />
    </queries>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GuardActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TransparentGuardTheme" />

        <service
            android:name=".SmsGuardAccessibilityService"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".SmsLockDeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
